# Environment
venv/
env/
.env
config/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data files (ne pas versionner les gros fichiers)
data/raw/*.csv
data/raw/*.json
data/processed/*.csv
*.xlsx

# IDE
.vscode/
.idea/
*.swp

# AWS
.aws/

# OS
.DS_Store
Thumbs.db